
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";



$green: rgb(0, 73, 51);

$yellow : #FFFFCC;

body {
  background-color: $yellow;
}


.banner {
  background-color: $green;
  border: 2px solid white;
}

#nav {
  background-color: $green;
  height: 100%;
  border: 2px solid white;

  li {
    list-style-type: none;

    a {
      color: white;
    }

    a:hover {
      background: $yellow;
      color: $green;
    }

  }
}




